.container{
    background-color: green;
    width: 1500px;
    height: 1500px;
    overflow: hidden;
  
}

.div1{
  background-color: yellow;
  width: 95%;
  height: 95%;
  margin:auto;
  margin-top: 3%;
  position:relative;
  overflow: hidden;
}
div{
    background-color: green;
    width:95%;
    height: 95%;
    margin: auto;
    margin-top: 3%;
    position: relative;
    overflow: hidden;
}

.div3{
    background-color: yellow;
    width:95%;
    height:95%;
    margin: auto;
    margin-top: 3%;
    position: relative;
    overflow: hidden;
}
.div4{
    background-color: green;
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 3%;
    position: relative;
    overflow: hidden;
}
p{
    text-align: center;
    color: white;
    position: relative;
    margin: 3%;
    padding-top:40%;
    font-size: 70px;
}

