body{
    background-color:#ffff0033;
}

section{
    background-color: white;
    padding:0 5px 0 5px;
    margin-bottom: 1%;
    width: 70%;
    border:1px solid black;
}

span{
   background-color:yellow;
    padding:0 3px 0 3px;
}

.sec1s{
    background-color: lightsalmon;
}
.sec2s{
    background-color: lightsalmon;
}

.sec3p{
    border:2px dotted red;
    margin-right: 1%;
   
}

.sec3{
    color:red;
    border:2px dotted red;
    margin-bottom: 5%;
}