header{
    color: coral;
}


.first{
    margin-left:70%;
    font-family: Consolas, Menlo, Monaco, Courier New, monospace;
    font-size: xx-large;
}

.last{
    font-family:'Courier New', Courier, monospace ;
    margin-left:73% ;
    
}

.font{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}